<form action="/recipes" method="post">
  <ul>
    <li>
      <label for="name">Name</label>
      <input id="name" type="text" name="name" />
    </li>
    <li>
      <label for="ingredients">Ingredients</label></br>
      <textarea id="ingredients" type="text" name="ingredients">
      </textarea>
    </li>
    <li>
      <label for="cook_time">Cook time</label></br>
      <textarea id="cook_time" type="integer" name="cook_time">
      </textarea>
    </li>
  </ul>
  <input type="submit" />
</form>