<form action="/recipes" method="POST">
  <input name="name" type="text" placeholder="name" />  
  <input name="ingredients" type="text" placeholder="ingredients" />  
  <input name="cook_time" type="text" placeholder="cook time" />  
  <input type="submit" name="submit" value="submit" />
</form>